body {
    background-color: #CC5555;
}

form {
    float: left;
    width: 50%;
}

p {
    margin-top: 2em;
}

fieldset {
    border: none;
}

input {
    /*float: left;*/
    margin-bottom: 1em;
    /*margin-top: 1em;*/
    clear: both;
}

input[type=button] {
    margin-top: 1em;
}


#floatHeader .Buttons {
    float: none;
    clear: none;
    margin: 0em;
}

.Buttons {
    float: left;
    clear: both;
}

h1 {
    text-align: center;
}

textarea {
    float: left;
}

.button {
    float: left;
    clear: both;
    margin-top: 2em;
}

#machineList {
    /*margin-top: 2em;*/
    background-color: #CC5555;
    float: left;
    width: 60%;
    clear: both;
    /*margin: auto;*/
}

#stationList {
    /*margin-top: 2em;*/
    /*background-color: #CC5555;*/
    float: left;
    width: 100%;
    clear: both;
    /*margin: auto;*/
}

#options {
    /*margin-top: 2em;*/
    /*background-color: #CC5555;*/
    float: left;
    width: 100%;
    clear: both;
    /*margin: auto;*/
}

#headerEventInfo {
    margin: 0em;
}

#content {
    margin-top: 100px;
}

#floatHeader {
    background-color: #AAAAFF;
    position: fixed;
    margin: 25%;
    width: 50%;
    /*height: 100px;*/
    margin-top: -100px;
    border: 1px solid black;
    border-top: none;
    text-align: center;
}

.MachineSelector {
    float: left;
    clear: both;
    margin-top: 1em;
    /*clear: left;*/
}

.FinalButtons {
    float: left;
    clear: both;
}


.clr1 {
    border: 2px solid black;
    background-color: #FF5555;
}

.clr2 {
    border: 2px solid black;
    background-color: #5555FF;
}

.notUsed {
    border: 2px solid black;
    background-color: #CCCCCC;
}

.StationForm {
    float: left;
    width: 30%;
}

.StationForm select {
    margin-left: 1em;
}

.StationContainer {
    float: left;
    clear: both;
    width: 100%;
}

.MachineInfo {
    float: left;
    width: 17%;
}

.StationText {
    width: 5em;
}

.StationError {
    background-color: #22CC22;
    float: left;
    width: 70%;
    text-align: center;
    margin-top: 0.1em; 
}

#GlobalError {
    width: 100%;
    float: none;
    text-align: center;
    margin-top: 0em;
    background-color: #22CC22;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    /*float: left;*/
    /*clear: both;*/
}

table {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

