#StationChecklist {
    width: 11in;
    float: left;
    clear: both;
}

h4 {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid black;
    margin: 0.1em;
}

h2 {
    margin: 0.1em;
}


div {
    float: left;
    margin: 0.25em;
    
}

.StationInfo {
    width: 30%;
    margin-right: 1em;
    border-right: 2px solid black;
    /*flex-direction: column;*/
    /*flex-grow: 1;*/
}

.Full2 .StationInfo {
    width: 100%;
    border: none;
}

.MachineInfo {
    width: 30%;
    border-right: 2px solid black;
    /*flex-direction: column;*/
    /*flex-grow: 0.5;*/
}

.Full {
    border: 3px solid black;
    float: left;
    width: 100%;
    /*height: 2.5in;*/
    page-break-inside: avoid;
}

.Full2 {
    border: 3px solid black;
    float: left;
    width: 100%;
    /*height: 2.5in;*/
    page-break-inside: avoid;
}

.TableDiv {
    border-top: 1px solid black;
    float: left;
    clear: both;
}

.Flex {
    display: flex;
}

table {
    margin-top: 0.5em;
    margin-right: 1em;
    border: 2px solid black;
    border-collapse: collapse;
    float: left;
    margin-bottom: 0.1em;
    /*clear: both;*/
}

.StationInfo table {
    margin: 0.1em;
    margin-right: 2em;
    
}

th {
    border: 2px solid black;
}

td {
    border: 2px solid black;
}

tr {
    page-break-inside: avoid;
}

.button {
    float: left;
    clear: both;
}

@media print {
    .noprint {
        display: none !important;
    }
}